.banniere {
	position: relative;
	overflow: hidden;
}

.banniere-caption {
	position: absolute;
	text-shadow: 1px 1px 1px black;
	color: white;
	left: 20px;
	top:20px;
}

.img-fluid {
	transition: transform .5s;
}

.prix {
	transition: transform .2s;
}

.img-fluid:hover {
	transform: scale(1.1);	
}

.card-body {
		padding: 10px;
	}

.banniere-caption h5 {
	font-size: 8vmin;

}

.banniere-caption p {
	font-size: 3.5vmin;
}

.row {
	margin: 15px 0;
}

.prix {
	border-radius: 5px;
	padding: 4px;
	font-size: 1em;
	font-weight: 800;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	color : black;
	background-color: rgba(255, 255, 255, 0.8);
  }

.card img:hover {
  	opacity: 0.7;
 
  }

.card:hover .prix {
	transform: translate(5px, 5px);
}


@media screen and (max-width: 1024px) {
	.card-title {
	  font-size: 14px;
	  margin: 1px;
	}

	.card-body {
		padding: 2px;
	}
}


@media screen and (max-width: 815px) {
	.card-title {
	  font-size: 12px;
	  margin: 1px;
	}

	.card-body {
		padding: 2px;
	}
	.prix {
	font-size: 0.7em;
  }
}


@media screen and (max-width: 576px) {
	.card-title {
	  font-size: 16px;
	  margin: 1px;
	}

	.card-body {
		padding: 5px;
	}

	.prix {
	font-size: 0.9em;
  }
}

/* Search button*/
/*search box css start here*/
.search-sec{
	background: #1A4668;padding: 2rem;
}
.search-slt{
	display: block;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	height: calc(3rem + 2px) !important;
	border-radius:0;
}
.wrn-btn{
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	 height: calc(3rem + 2px) !important;
	 border-radius:0;
}

/*Team*/
.pt-100{
	padding-top:100px;
}
.pb-100{
	padding-bottom:100px;
}
.section-title {
margin-bottom: 60px;
}
.section-title p {
color: #777;
font-size: 16px;
}
.section-title h4 {
text-transform: capitalize;
font-size: 40px;
position: relative;
padding-bottom: 20px;
margin-bottom: 20px;
font-weight: 600;
}
.section-title h4:before {
position: absolute;
content: "";
width: 60px;
height: 2px;
background-color: #ff3636;
bottom: 0;
left: 50%;
margin-left: -30px;
}
.section-title h4:after {
position: absolute;
background-color: #ff3636;
content: "";
width: 10px;
height: 10px;
bottom: -4px;
left: 50%;
margin-left: -5px;
border-radius: 50%;
}

.single-team img {
width: 100%;
}
.single-team {
position: relative;
}
.team-hover {
background-color: #222;
color: #fff;
position: absolute;
bottom: -107px;
left: 0;
width: 100%;
padding: 10px;
text-align: center;
-webkit-transition: .4s;
transition:.4s
}
.team-hover h4 {
font-size: 20px;
text-transform: capitalize;
}
.team-hover h4 span {
display: block;
font-size: 14px;
font-weight: 300;
margin: 10px 0;
}
.team-hover a {
display: inline-block;
color: #fff;
padding: 0 5px;
}
.single-team:hover .team-hover {
bottom: 0;
}
.single-team {
overflow: hidden;
}
