body {
	font-family: 'Abel', sans-serif;
}

/*TEST*/

/*Navbar*/

.row {
	margin: 40px 0;
}

.navbar-light .navbar-brand {
	color: black;
	font-size: 30px;
}

.navbar-light .navbar-brand:hover {
	color: #ED3759;
	font-size: 30px;
}

.navbar-light .navbar-nav .nav-link {
	color: #33383b;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #ED3759;
}

/*Carousel*/

.image_carousel
{
	filter: brightness(70%);
}

.carousel-caption p {
	font-size: 4.5vmin;
	text-shadow: 6px 6px 8px black;
	color: white;
	font-family: 'Raleway', sans-serif;
}

/*Categorie*/

div.card_categorie
{
	width: 200px;
}

/*Banniere*/

.banniere {
	position: relative;
	overflow: hidden;
}

.banniere-caption {
	position: absolute;
	text-shadow: 3px 3px 6px black;
	color: white;
	left: 20px;
	top:20px;
	font-family: 'Noto Sans', sans-serif;
}

.img-fluid {
	transition: transform .5s;
}

.prix {
	transition: transform .2s;
}

.img-fluid:hover {
	transform: scale(1.1);	
}

.card-body {
		padding: 10px;
		background-color: #292c2f;
		color:#DCDCDC;
	}

.banniere-caption h5 {
	font-size: 8vmin;

}

.banniere-caption p {
	font-size: 3.5vmin;
}

.row {
	margin: 15px 0;
}

.prix {
	border-radius: 5px;
	padding: 4px;
	font-size: 1em;
	font-weight: 800;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	color : black;
	background-color: rgba(255, 255, 255, 0.7);
	font-weight: 400;
  }

.card img:hover {
  	opacity: 0.7;
 
  }

.card:hover .prix {
	transform: translate(5px, 5px);
}


@media screen and (max-width: 1024px) {
	.card-title {
	  font-size: 14px;
	  margin: 1px;
	}

	.card-body {
		padding: 2px;
	}
}


@media screen and (max-width: 815px) {
	.card-title {
	  font-size: 12px;
	  margin: 1px;
	}

	.card-body {
		padding: 2px;
	}
	.prix {
	font-size: 0.7em;
  }
}


@media screen and (max-width: 576px) {
	.card-title {
	  font-size: 16px;
	  margin: 1px;
	}

	.card-body {
		padding: 5px;
	}

	.prix {
	font-size: 0.9em;
  }
}

/* Search button*/
/*search box css start here*/
.search-sec{
	background: gray;padding: 2rem;
}
.search-slt{
	display: block;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	height: calc(3rem + 2px) !important;
	border-radius:0;
}
.wrn-btn{
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	 height: calc(3rem + 2px) !important;
	 border-radius:0;
}

.search-sec {
	background: white;
	padding: 0;
	margin-bottom: 0;
}

.btn-primary {
	color: #DCDCDC;
	background-color: #292c2f;
	border-color: #292c2f;
}

.btn-primary:hover {
	opacity: 0.9;
	color: white;
	background-color: #ED3759;
	border-color: #ED3759;
}

/*Team*/

.single-team img {
width: 100%;
}

.team1
{
	padding-top: 50px;
	background-color: #292c2f;
	color: white;
	margin: 0px;
}


.team2
{
	background-color: #292c2f;
	color: white;
	padding-bottom: 20px;
	margin: 0px;
	padding-top: 20px;
}


/* CSS du footer */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 16px 'Abel';
	padding: 55px 50px;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Abel', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: white;
}

.footer-distributed .footer-links a:hover{
	color: #ED3759;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ED3759;;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 16px;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*Icon*/

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

.icon {
	margin: 50px 0;
}

.icon-title {
	margin-top: 30px;
	font-family: 'Noto Sans', sans-serif;
}


/*Modal*/

.addcart {
	color: white;
	background-color: #ED3759;
	border-color: #ED3759;
}

.addcart:hover {
	opacity: 0.7;
}

.contactus {
    color: #DCDCDC;
    background-color: #ED3759;
    border-color: #ED3759;
}

/*Parralax*/

.parallax {

color: white;
margin-top:15px;


/* The image used */

padding-top: 200px;
padding-bottom: 200px; 
overflow: hidden; 
position: relative; 
width: 100%;
background-image: url("https://www.auto-moto.com/wp-content/uploads/sites/9/2017/08/new-continental-gt-23.jpg"); 

opacity: 0.5;

/* Set a specific height */
height: 300px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
-moz-background-size: cover; 
-webkit-background-size: cover; 
}

.parallax-text {
font-family:'Oswald', sans-serif; 
font-size:70px;
letter-spacing:10px; 
text-align:center; 
color:white; 
font-weight:400; 
text-transform:uppercase; 
z-index:10; 
position: absolute;

}