.row{
	margin: 15px;
	justify-content: space-around;
}

.card-deck{
	margin: 15px;
}

.card-img-top{
	position: relative;
}

.card-body{
	position: absolute;
	background-color: white;
}

.card-text-img{
	position: relative;
}